spring:
  application:
    name: ${NAME}
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
server:
  port: ${PORT}

  #https://8080-idx-whs-1744682950261.cluster-a3grjzek65cxex762e4mwrzl46.cloudworkstations.dev/health